<div class="comment-form">
  <%= form_with model: [ @post, @post.comments.build ] do |form| %>
      <%= form.label "Leave a comment (minimum: 3 characters)" %> <br>
      <%= form.text_area :body %> <br>
      <%= form.submit %> <br>
  <% end %>
</div>