<footer>
  <p class="copyright">© 2023 Eliseu Ramos. All Rights Reserved.</p>
  <%= link_to "GitHub", 'https://github.com/eliseuramos93' %> | 
  <%= link_to "LinkedIn", 'https://www.linkedin.com/in/eliseu-laercio-machado-de-ramos-8b813382/' %>
</footer>
