<footer class="font-mono flex flex-col justify-center items-center font-sans h-14 bg-red-200 text-red-800 mt-auto">
  <p class="copyright">© 2023 Eliseu Ramos. All Rights Reserved.</p>
  <div id="footer-links" class="flex flex-row space-x-4">
    <button id="github" class="hover:text-slate-900 transition duration-500 ease-in-out rounded p-1.0">
      <%= link_to "GitHub", 'https://github.com/eliseuramos93' %>
    </button>
    <button id="linkedin" class="hover:text-slate-900 transition duration-500 ease-in-out rounded p-1.0">
      <%= link_to "LinkedIn", 'https://www.linkedin.com/in/eliseu-laercio-machado-de-ramos-8b813382/' %>
    </button>
  </div>
</footer>
